<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding for Good App Dev - YOUR FEEDBACK IS IMPORTANT!</title>
</head>
<style>
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
</style>
<body>
<h1>GSOC Coding for Good - App Development - YOUR FEEDBACK IS IMPORTANT!</h1>
Hi {{CONTACT}}:

<p>
  Just a quick <span class='bold'>FOLLOW UP</span> to our recently completed four part Coding for Good App Development Badge Earning event.&nbsp;  We noticed that you did not submit project work during the course of the event.
</p>
<p>
  We will likely repeat this event in the fall, and we&#8217;d WELCOME YOUR FEEDBACK to help us improve.&nbsp;  <span class='bold'>In particular, if for some reason you were NOT ABLE to fully complete this event, kindly REPLY TO THIS EMAIL and share WHY so you can help us make changes for the better!</span>
</p>
<p>
  Thank you in advance for your kind assistance,
</p>
Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>



