<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding for Good App - Follow up Survey</title>
    <style>
        .bold {
            font-weight: bold;
        }
        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>GSOC Coding for Good - App Development - FOLLOW UP SURVEY</h1>
Hi {{CONTACT}}:

<p>
    Thank you once again for being part of our Coding for Good - App Development badge earning event!&nbsp;  We enjoyed having you participate and hope that you enjoyed learning about mobile app development and design.
</p>
<p>
    As the GSOC may be required to hold virtual events for some time in the future, it&#8217;s likely that we will offer this same badge earning event later this year.&nbsp; <span class='bold'>You could help us improve this event for your fellow Girl Scouts by providing your feedback via this brief event survey (click on the link below):</span>
</p>
<p>
    <h3><a href="https://forms.gle/wcQTwqCnNcLpR9MT6">You feedback is important, kindly complete our Post-Event Survey!</a></h3>
</p>
<p>
    <span class='bold'>We have some more Thunkable for you!</span>
</p>
<p>
    Completing the survey will &quot;unlock&quot; a link to a <span class='bold'>BONUS VIDEO</span>.&nbsp;  The bonus video will show the underlying detail of the &quot;Thunkable Tips&quot; that we shared during our Sunday afternoon Zoom meetings.
</p>
<p>
    <span class='bold'>Interest in learning more about GSOC app development challenge teams?</span>
</p>
<p>
    Thank you to the girls that have expressed an interest in forming GSOC app challenge teams.&nbsp; We&#8217;re creating a list of girls with interest in forming Girl Scouts of Orange County teams to enter the <a href="https://technovationchallenge.org">Technovation Girls</a> and <a href="https://www.congressionalappchallenge.us">Congressional App Challenges</a>.&nbsp;  If you have an interest, kindly reply to this email in order to be invited to an upcoming parent info event.&nbsp; Please note that girls must be in Jr. High or High School this fall in order to enter next year&#8217;s app challenges.
</p>
<p>
    On behalf of the GSOC Volunteer STEM Patrol, I want to thank you once again for registering for this event.&nbsp; The STEM Patrol is looking forward to providing you with many more fun STEM opportunities in the future.&nbsp;  
</p>
Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>