<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding for Good App - Kickoff ZOOM Meeting REMINDER</title>
</head>
<body>
<h1>GSOC Coding for Good - App Development KICKOFF MEETING REMINDER</h1>
Hi {CONTACT}:

<p>
    Thank you once again for registering for the GSOC Coding for Good - App Development virtual badge earning event!
</p>
<p>
    Just a reminder that the event <span style="font-weight: bold;">KICK OFF ZOOM MEETING</span> is scheduled for <span style="font-weight: bold;">THIS SUNDAY, May 24th from 4p - 5p.</span>&nbsp; It&#8217;s important for girls (and their parents) to attend as we&#8217;ll be reviewing the logistics for the event.&nbsp;  Please try to join a few minutes before the scheduled start time; you&#8217;ll be placed in a waiting room until the meeting begins.&nbsp; 
</p>
<p>
    If you experience problems connecting to Sunday&#8217;s ZOOM meeting, kindly email: gsoc.codingforgood.appdev@gmail.com.&nbsp; A volunteer will be monitoring this email address during the event and will attempt to assist you.&nbsp; If possible, leave a phone number that we could use to contact you.&nbsp; Please note that you may utilize this email address at any time during the four week event period if you have specific questions regarding the event logistics or the instruction provided within the YouTube videos.
</p>
<p>
    Here&#8217;s the Zoom meeting information that you&#8217;ll need to use to connect to this Sunday's Kickoff meeting:
</p>
<p>
Topic: Coding for Good Badge Series- Kickoff<br/>
Time: May 24, 2020 04:00 PM Pacific Time (US and Canada)<br/>
 <br/>
Join Zoom Meeting<br/>
<a href="https://us02web.zoom.us/j/89361119302?pwd=SjdsK0UvVndPdEIrK1ZvcldEZjlyUT09">https://us02web.zoom.us/j/89361119302?pwd=SjdsK0UvVndPdEIrK1ZvcldEZjlyUT09</a><br/>
 <br/>
Meeting ID: 893 6111 9302<br/>
Password: 8HSuqd<br/>
One tap mobile<br/>
+16699009128,,89361119302#,,1#,836630# US (San Jose)<br/>
+12532158782,,89361119302#,,1#,836630# US (Tacoma)<br/>
 <br/>
Dial by your location<br/>
        +1 669 900 9128 US (San Jose)<br/>
        +1 253 215 8782 US (Tacoma)<br/>
        +1 346 248 7799 US (Houston)<br/>
        +1 646 558 8656 US (New York)<br/>
        +1 301 715 8592 US (Germantown)<br/>
        +1 312 626 6799 US (Chicago)<br/>
Meeting ID: 893 6111 9302<br/>
Password: 836630<br/>
Find your local number: https://us02web.zoom.us/u/kbj3elUZji<br/>
</p>
<p>
    Looking forward to seeing you this Sunday!
</p>
Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>