<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding for Good App - Part 1 ZOOM Meeting REMINDER</title>
</head>
<body>
<h1>GSOC Coding for Good - App Development </h1>
Hi {CONTACT}:

<p>
    <h3>THIS IS AN IMPORTANT CORRECTION TO THE PART 2 VIDEO!</h3>
</p>
<p>
    The links provided in the Part 2 video email were truncated, the corrected links are found below:
</p>
<p>
<ul>
    <li>Blank Paper Prototype form (print as many copies as you need): <a href="https://drive.google.com/file/d/1YzC6aXxZR7s9Eu0LZGHtyCfU7mecomjr/view?usp=sharing">https://drive.google.com/file/d/1YzC6aXxZR7s9Eu0LZGHtyCfU7mecomjr/view?usp=sharing</a></li>

    <li>Our app&#8217;s DESIGN OBJECTIVES: <a href="https://drive.google.com/file/d/1euehsC-YtUGggKrKVLT2ruo5tFLCFM1W/view?usp=sharing">https://drive.google.com/file/d/1euehsC-YtUGggKrKVLT2ruo5tFLCFM1W/view?usp=sharing</a></li>

    <li>GRAPHIC ASSETS you can pick from to customize your app - include within your paper prototype: <a href="https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing">https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing</a></li>

    <li>Google Form (share a link to your project BEFORE END OF DAY FRIDAY):  <a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a></li>

    <li>Support email address: gsoc.codingforgood.appdev@gmail.com</li>
</ul>
</p>
<p>
    All apologies for any convenience this may have caused!
</p>
<br/>
Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>