<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part 2 Coding for Good App Dev VIDEO RELEASE - PART 3 VIDEO</title>
</head>
<style>
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
</style>
<body>
<h1>GSOC Coding for Good - App Development - PART 3 VIDEO </h1>
Hi {{CONTACT}}:

<p>
    Welcome back to Part 3 of the Coding for Good App Development virtual badge earning event!
</p>
<p>
    <span class='bold'>Now the FUN begins!</span>&nbsp; In Part 1 we learned how to get started with Thunkable.&nbsp; In Part 2, we created our own app design using Paper Prototyping.&nbsp; Now in Part 3, we&#8217;ll go back into Thunkable and create our app design!&nbsp;  Get ready to start coding too - we&#8217;ll need to make those buttons you created do something when you click on them!
</p>
    The STEM Patrol volunteers are really looking forward to reviewing the cool apps you create in Part 3!&nbsp; Just like we did in Part 1, before the end of the day Friday, we ask that you submit your Thunkable project using the Google Form (<a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a>) we created for this event.&nbsp; Remember, its ok if you just want to follow along with the Part 3 video and create the same app we will show in the Part 3 video.&nbsp; You might want to allow more time for this week&#8217;s work; the Part 3 video is a little longer, and it may take you a bit longer to complete your Part 3 work this week.&nbsp; Be prepared!
</p>
<p>
     This week&#8217;s video is available here:
        <br/><h3>PART 3 YouTube Video:  <a href="https://youtu.be/USzHRhyvOvk">https://youtu.be/USzHRhyvOvk</a></h3>
</p>
<p>
    As a number of attendees reported problems accessing the links provided in the COMMENTS section of the YouTube video, so we have listed the links here as well:
<ul>
    <li>GRAPHIC ASSETS so you can remember the names of the assets to include on your buttons and logos: <a href="https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing">https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing</a></li>

    <li>Google Form (share a link to your project BEFORE END OF DAY FRIDAY):  <a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a></li>

    <li>Girl Scout Cookie Graphic (we imported this in our Sunday Zoom meeting): <a href="https://drive.google.com/file/d/1qrsGImI59Pu5nHkmFoQQiVINim30XZxl/view?usp=sharing">https://drive.google.com/file/d/1qrsGImI59Pu5nHkmFoQQiVINim30XZxl/view?usp=sharing</a></li>

    <li>Support email address: gsoc.codingforgood.appdev@gmail.com</li>
</ul>
Please note that we have additionally added the links to the DESCRIPTION of the YouTube video, although you may need to click READ MORE within the description to view them.
</p>
<p>
    Thanks again for participating in this event, and good luck creating your app!&nbsp;  Don&#8217;t hesitate to email any questions you may have regarding Part 3 to our support email address: gsoc.codingforgood.appdev@gmail.com.&nbsp;  If you&#8217;d like some additional help (or to talk about your design), please attended the weekly ZOOM meeting on Sunday from 4p - 5p.
</p>
<p>
This Sunday&#8217;s (Jun 14th 4p-5p) ZOOM Meeting is:
</p>
<p>
Join Zoom Meeting<br/>
<a href="https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09">https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09</a><br/>
<br/>
Meeting ID: 837 6320 3687<br/>
Password: 0WVqft<br/>
<br/>
One tap mobile<br/>
+16699009128,,83763203687#,,1#,124530# US (San Jose)<br/>
+13462487799,,83763203687#,,1#,124530# US (Houston)<br/>
<br/>
Dial by your location<br/>
        +1 669 900 9128 US (San Jose)<br/>
        +1 346 248 7799 US (Houston)<br/>
        +1 253 215 8782 US (Tacoma)<br/>
        +1 312 626 6799 US (Chicago)<br/>
        +1 646 558 8656 US (New York)<br/>
        +1 301 715 8592 US (Germantown)<br/>
Meeting ID: 837 6320 3687<br/>
Password: 124530<br/>
<br/>
Find your local number: https://us02web.zoom.us/u/kBUaIoh8x
</p>
<p>
    Let&#8217;s get working on our apps!
</p>

Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>