<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part 1 Coding for Good App Dev VIDEO RELEASE - PART 1 VIDEO</title>
</head>
<body>
<h1>GSOC Coding for Good - App Development - PART 1 VIDEO </h1>
Hi {CONTACT}:

<p>
    Thank you again for participating in the Coding for Good - App Development virtual badge earning event!
</p>
<p>
    I hope you are looking forward to creating your very own phone application and learning a little about &#8220;app development&#8221;, it&#8217;s going to be a lot of fun!
</p>
<p>
    There are a few prerequisites that you will need to participate in this event:
</p>
<ul>
    <li>A phone or tablet that can connect to the internet (WiFi or cellular).</li>
    <li>Installation of the <a href="https://docs.thunkable.com/get-started/live-test">Thunkable Live</a> application on the aforementioned phone or tablet.&nbsp; This app is available for free within the Apple App or Google Play Stores.</li>
    <li>A laptop or computer (note: IN ADDITION TO the phone or tablet mentioned above).</li>
    <li>A GMAIL account the girls can use (parents may need to help girls log of if the girls don&#8217;t know the GMAIL account password).</li>
</ul>
<p>
    Here is how this four week long &#8220;virtual&#8221; event will work:
</p>
<ul>
    <li>Each week, you&#8217;ll receive an email like this one containing a link to a YouTube video.  This week&#8217;s video is available here:
        <br/><h3>PART 1 YouTube Video: <a href="https://youtu.be/u-kK_BzZWyo">https://youtu.be/u-kK_BzZWyo</a></h3></li>
    <li>Follow along with the weekly video, replaying as often as needed to replicate the week's lesson.</li>
    <li>Additional links will be provided within the <span style="font-weight: bold;">COMMENTS</span> section of the YouTube video, please look for those! (the comments section appears just beneath the video).&nbsp; The links will contain content that supports the video.&nbsp;&nbsp; <span style="text-decoration: underline;">If you&#8217;re having difficulting displaying the comments beneath the video:</span> (1) click on the SORT BY link found beneath the video (in the comments area).  (2) select NEWEST FIRST from the subsequent menu.  That will expose the comments.</li>
    <li>We will REMIX an existing Thunkable project to get started.&nbsp;  Within the Part 1 video, you will be asked to visit the URL: <a href="https://github.com/bhontz/CodingForGoodApp">https://github.com/bhontz/CodingForGoodApp</a>.&nbsp; This link will additionally be available within the COMMENTS section of the YouTube video.</li>
    <li>Girls should submit their project work <span style="text-decoration: underline;">BY END OF DAY FRIDAY</span> each week using a <span style="font-weight: bold;">GOOGLE FORM</span> available within the comment section of the YouTube video.&nbsp; The PART 1 video illustrates how girls can share their project work using the GOOGLE FORM.&nbsp;  Please encourage your girls to share their work in this way so our volunteers can verify that they're keeping up.</li>
    <li>Please feel free to reply to the gsoc.codingforgood.appdev@gmail.com email address if you have any specific questions about this week&#8217;s video.</li>
    <li>Please attend the weekly <span style="font-weight: bold;">ZOOM MEETING RECAP</span> this Sunday if you would like to ask questions directly, or to share your work with your Girl Scout sisters!</li>
</ul>
<p>
    This Sunday&#8217;s (May 31st 4p-5p) ZOOM Meeting is:
</p>
<p>
Join Zoom Meeting<br/>
<a href="https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09">https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09</a><br/>
<br/>
Meeting ID: 837 6320 3687<br/>
Password: 0WVqft<br/>
<br/>
One tap mobile<br/>
+16699009128,,83763203687#,,1#,124530# US (San Jose)<br/>
+13462487799,,83763203687#,,1#,124530# US (Houston)<br/>
<br/>
Dial by your location<br/>
        +1 669 900 9128 US (San Jose)<br/>
        +1 346 248 7799 US (Houston)<br/>
        +1 253 215 8782 US (Tacoma)<br/>
        +1 312 626 6799 US (Chicago)<br/>
        +1 646 558 8656 US (New York)<br/>
        +1 301 715 8592 US (Germantown)<br/>
Meeting ID: 837 6320 3687<br/>
Password: 124530<br/>
<br/>
Find your local number: https://us02web.zoom.us/u/kBUaIoh8x
</p>
<p>
    <h2>* UPDATE *</br>Beginning next Sunday (May 31st) we email the upcoming week&#8217;s video link out IMMEDIATELY AFTER THE SUNDAY ZOOM MEETING!</h2>
</p>
<p>
    Thanks again for attending this event, now let&#8217;s get working on our first phone app!
</p>

Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>