<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding for Good App - Part 4 ZOOM Meeting REMINDER</title>
    <style>
        .bold {
            font-weight: bold;
        }
        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>GSOC Coding for Good - App Development - LET&#8217;S CELEBRATE!</h1>
Hi {{CONTACT}}:

<p class='bold'>
    Congratulations on the completion the Coding for Good - App Development badge earning event, you&#8217;ve earned your badge - so let&#8217;s <span class='bold'>CELEBRATE THIS SATURDAY!</span>
</p>
<p>
    I hope you enjoyed the Part 4 video and were able to add a BAR GRAPHIC to your app this week.&nbsp; 
</p>
<p class='underline'>
    Just a few REMINDERS:
</p>
<ul>
    <li><span class='bold'>DON&#8217;T FORGET TO SHARE YOUR PROJECT FOR CHECKING</span> using the GOOGLE FORM we have provided for this purpose.&nbsp; A big thank you to the girls that have already submitted their PART 4 project work!.&nbsp; NOTE: If you have forgotten how to share your project link within the GOOGLE FORM, please review the end of the PART 1 video (<a href="https://youtu.be/u-kK_BzZWyo">https://youtu.be/u-kK_BzZWyo</a>) for instruction.</li>
        We&#8217;d like you to submit your project work <span style="font-weight: bold;">BEFORE THE END OF DAY FRIDAY</span> so our STEM Patrol Volunteers have time to check it in advance of Saturday&#8217;s Zoom meeting.<br/>
        <br/>The Google Form link is here: <a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a><br/>
    </li><br/>
    <li><span class='bold'>SCHEDULE CHANGE - OUR FINAL CELEBRATORY ZOOM MEETING IS THIS SATURDAY</span> June 20th from 4p - 5p.&nbsp; I hope you will all attend and celebrate your achievement with us!</li><br/>
    <li><span class='bold'>SHARE YOUR APP WITH US THIS SATURDAY!</span>&nbsp; We&#8217;re looking for a few girls that are excited to talk about their app design and would be willing to share their app with the group during this Saturday&#8217;s Zoom meeting.&nbsp;  As some point during the meeting, we will ask girls to copy and paste their Thunkable Project Link (same link you have been copy and pasting into the event Google Form) into the Zoom meeting Chat window.&nbsp;  Our instructor will then load the project on a shared screen and ask you to talk a bit about it!
</li><br/>
    <li>If you have taken time to review the <a href="https://www.globalgoals.org">GLOBAL GOALS</a> we sent within our Part 4 video email, we&#8217;ll try to set aside some time to talk about app ideas that can benefit others, and app challenges we can enter as Girl Scout teams to create these beneficial apps.&nbsp; Let&#8217;s help make the world a better place!</li></br>
</ul>
<p>
<span class='bold'>This SATURDAY&#8217;s (Jun 20th 4p-5p) ZOOM Meeting is:
</p>
<p>
Join Zoom Meeting<br/>
<a href="https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09">https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09</a><br/>
<br/>
Meeting ID: 841 6990 2378<br/>
Password: 4MHVNW<br/>
<br/>
One tap mobile<br/>
+16699009128,,83763203687#,,1#,124530# US (San Jose)<br/>
+13462487799,,83763203687#,,1#,124530# US (Houston)<br/>
<br/>
Dial by your location<br/>
        +1 669 900 9128 US (San Jose)<br/>
        +1 346 248 7799 US (Houston)<br/>
        +1 253 215 8782 US (Tacoma)<br/>
        +1 312 626 6799 US (Chicago)<br/>
        +1 646 558 8656 US (New York)<br/>
        +1 301 715 8592 US (Germantown)<br/>
Meeting ID: 841 6990 2378<br/>
Password: 4MHVNW<br/>
<br/>
Find your local number: https://us02web.zoom.us/u/kBUaIoh8x
</p>
<p>
    Thanks again, and I hope to see you this SATURDAY!
</p>

Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>