<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part 2 Coding for Good App Dev VIDEO RELEASE - PART 2 VIDEO</title>
</head>
<style>
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
</style>
<body>
<h1>GSOC Coding for Good - App Development - PART 2 VIDEO </h1>
Hi {{CONTACT}}:

<p>
    Welcome back to Part 2 of the Coding for Good App Development virtual badge earning event!
</p>
<p>
    In Part 1, we started exploring the Thunkable app development environment by creating our very first &quot;Hello World&quot; app!&nbsp; Along the way, we talked about the importance and roll of LAYOUT (or &quot;containers&quot;) in our app designs.
</p>
<p>
    This week, we&#8217;ll talk about the app development process, present our app DESIGN OBJECTIVES, and talk about PAPER PROTOTYPING.&nbsp;  Your assignment for the week is to create a paper prototype of your own app design, or you can simply replicate the design we will be presenting as our example within the Part 2 video.
</p>
<p>
    At the end of the Part 2 video, we&#8217;ll show you how to use your phone to take a picture of your paper prototype, so you can share your paper prototype on the weekly GOOGLE FORM.&nbsp; Links for the paper prototyping template as well as the GOOGLE FORM will be provided within the comments section of the Part 2 YouTube video.&nbsp;&nbsp;<span style="text-decoration: underline;">If you&#8217;re having difficulting displaying the comments beneath the video:</span> (1) click on the SORT BY link found beneath the video (in the comments area).  (2) select NEWEST FIRST from the subsequent menu.  That should expose the comments.
</p>
<p>
     This week&#8217;s video is available here:
        <br/><h3>PART 2 YouTube Video:  <a href="https://youtu.be/9X2ew0ZMp4Y">https://youtu.be/9X2ew0ZMp4Y</a></h3>
</p>
<p>
    As a number of attendees reported problems accessing the links provided in the COMMENTS section of the YouTube video, they are listed here as well below:
<ul>
    <li>Blank Paper Prototype form (print as many copies as you need): <a href="https://drive.google.com/file/d/1YzC6aXxZR7s9Eu0LZGHtyCfU7mecomjr/view?usp=sharing">https://drive.google.com/file/d/1YzC6aXxZR7s9Eu0LZGHtyCfU7mecomjr/view?usp=sharing</a></li>

    <li>Our app&#8217;s DESIGN OBJECTIVES: <a href="https://drive.google.com/file/d/1euehsC-YtUGggKrKVLT2ruo5tFLCFM1W/view?usp=sharing">https://drive.google.com/file/d/1euehsC-YtUGggKrKVLT2ruo5tFLCFM1W/view?usp=sharing</a></li>

    <li>GRAPHIC ASSETS you can pick from to customize your app - include within your paper prototype: <a href="https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing">https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing</a></li>

    <li>Google Form (share a link to your project BEFORE END OF DAY FRIDAY):  <a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a></li>

    <li>Support email address: gsoc.codingforgood.appdev@gmail.com</li>
</ul>
Please note that we have additionally added the links to the DESCRIPTION of the YouTube video, although you may need to click READ MORE within the description to view them.
</p>
<p>
    Thanks again for participating in this event, and good luck creating your paper prototype!&nbsp;  Don&#8217;t hesitate to email any questions you may have regarding Part 2 to our support email address: gsoc.codingforgood.appdev@gmail.com.&nbsp;  If you&#8217;d like some additional help (or to talk about your design), please attended the weekly ZOOM meeting on Sunday from 4p - 5p.
</p>
<p>
This Sunday&#8217;s (Jun 7th 4p-5p) ZOOM Meeting is:
</p>
<p>
Join Zoom Meeting<br/>
<a href="https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09">https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09</a><br/>
<br/>
Meeting ID: 837 6320 3687<br/>
Password: 0WVqft<br/>
<br/>
One tap mobile<br/>
+16699009128,,83763203687#,,1#,124530# US (San Jose)<br/>
+13462487799,,83763203687#,,1#,124530# US (Houston)<br/>
<br/>
Dial by your location<br/>
        +1 669 900 9128 US (San Jose)<br/>
        +1 346 248 7799 US (Houston)<br/>
        +1 253 215 8782 US (Tacoma)<br/>
        +1 312 626 6799 US (Chicago)<br/>
        +1 646 558 8656 US (New York)<br/>
        +1 301 715 8592 US (Germantown)<br/>
Meeting ID: 837 6320 3687<br/>
Password: 124530<br/>
<br/>
Find your local number: https://us02web.zoom.us/u/kBUaIoh8x
</p>
<p>
    Let&#8217;s get working on our app design!
</p>

Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>