<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part 4 Coding for Good App Dev VIDEO RELEASE - PART 4 VIDEO</title>
</head>
<style>
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
</style>
<body>
<h1>GSOC Coding for Good - App Development - PART 4 VIDEO </h1>
Hi {{CONTACT}}:

<p>
    Congratulations {{CONTACT}}, we made it across the finish line!&nbsp; WOO HOO!!&nbsp; This is the FINAL video and opportunity for you to earn your Coding For Good App Development badge, congratulations to you!&nbsp; If you have been falling a little behind, NO PROBLEM, spend this week catching up!
</p>
<p>
    In this final part, we will add a <span class='bold'>COOKIE SALES graphic</span> to our now nearly complete apps in order to fulfill one of the badge requirement steps.&nbsp; Among the links provided below (and as well within the YouTube video comments and description) you will find a link to a Google Sheet containing Girl Scout Cookie Sales data.&nbsp; Unfortunately, this sheet contains data only for the girls that sold more than 300 boxes of cookies during the 2020 Cookie Season.&nbsp;  Within the Part 4 video, we will show you how to &quot;parse&quot; the cookie sales data from this google sheet into a format that can be used to form the bar chart within our app.
</p>
<p>

</p>
    The STEM Patrol volunteers are really looking forward to reviewing your COMPLETED APP!&nbsp; Just like we did in Part 1, before the end of the day Friday, we ask that you submit your Thunkable project using the Google Form (<a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a>) we created for this event.
</p>
<p>
    <span class='bold'>CELEBRATION EVENT NEXT SATURDAY 4-5p!</span>&nbsp; Please plan on attending our CELEBRATION ZOOM MEETING EVENT next Saturday from 4p - 5p.&nbsp; The ZOOM meeting details can be found at the end of this email message.&nbsp; {{CONTACT}} if you are interested in SHARING your app during Saturday&#8217;s Zoom meeting, please be prepared to CUT & PASTE the link to your app into the COMMENTS section of the Zoom meeting.&nbsp;  We&#8217;ll also talk about how you could enter APP CHALLENGES were you can work with a team of your fellow GSOC Girl Scouts to build an app that would address a problem that you experience in your neighborhood, school or society in general.&nbsp; Please look over the GLOBAL CHALLENGES link provided below, and we would LOVE to hear any APP IDEAS you&#8217;d like to share during this Saturday&#8217;s celebratory Zoom meeting!
<p>
     This week&#8217;s video is available here:
        <br/><h3>PART 4 YouTube Video:  <a href="https://youtu.be/xHUX0_-xZ8c">https://youtu.be/xHUX0_-xZ8c</a></h3>
</p>
<p>
    As a number of attendees reported problems accessing the links provided in the COMMENTS section of the YouTube video, so we have listed the links here as well:
<ul>
    <li>GRAPHIC ASSETS so you can remember the names of the assets to include on your buttons and logos: <a href="https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing">https://drive.google.com/file/d/1gUMa7bIp2POZKeng6lHcNbgujT-_Z3q6/view?usp=sharing</a></li></br>

    <li>Cookie Sales Data GOOGLE SHEET (note: sales for girls selling more than 300 boxes in 2020): <a href="https://docs.google.com/spreadsheets/d/1KMZDpSEwjc809ZoZmiYilgSBdPjhszbC1d4zz8NykXo/edit?usp=sharing">https://docs.google.com/spreadsheets/d/1KMZDpSEwjc809ZoZmiYilgSBdPjhszbC1d4zz8NykXo/edit?usp=sharing</a></li></br>

    <li><span class='bold'>SUPER HELPFUL PART 4 VIDEO HINT:</span> Help with the FORMULA used in the Girl Scout Cookie Data Google Sheet.  HERE IT IS: =CONCATENATE(&quot;[&#8217;&quot;,C7,&quot;&#8217;,&quot;,D7,&quot;],&quot;)</li></br>

    <li><span class='bold'>APP CHALLENGES FOR GIRLS IN JR.HIGH / HIGH SCHOOL THIS FALL.</span>&nbsp; Check out these two really great APP CHALLENGES: <a href="https://technovationchallenge.org">Technovation Girls App Challenge</a>&nbsp; and the </br><a href="https://www.congressionalappchallenge.us">Congressional App Challenge</a> (all Orange County Congressional Districts offer this challenge).&nbsp;  The GSOC STEM Patrol would love to form teams of GSOC Girl Scouts to enter these challenges!&nbsp;  We can provide mentoring, please email the event email address: gsoc.codingforgood.appdev@gmail.com if you&#8217;d like to learn more.</li></br>

    <li><span class='bold'>Need IDEAS for entering an app challenge?</span> Here&#8217;s a link to list of GOALS FOR IMPROVING OUR GLOBAL SOCIETY: <a href="https://www.globalgoals.org">https://www.globalgoals.org</a>.&nbsp; PLEASE NOTE: you can click on any of the boxes and drill in for additional detail.</li></br>

    <li>Girls looking to replicate the &quot;Easter Egg&quot; implementation we illustrated in the Part 3 Zoom meeting, here is a link to a page of emojis that you can cut-and-paste into Thunkable text blocks: <a href="https://www.copyandpasteemoji.com">https://www.copyandpasteemoji.com</a></li></br>

    <li>Google Form (share a link to your project BEFORE END OF DAY FRIDAY):  <a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a></li></br>

    <li>Support email address: gsoc.codingforgood.appdev@gmail.com</li>
</ul>
Please note that we have additionally added the links to the DESCRIPTION of the YouTube video, although you may need to click READ MORE within the description to view them.
</p>
<p>
    Thanks again for participating in this event, and good luck creating your app!&nbsp;  Don&#8217;t hesitate to email any questions you may have regarding Part 4 to our support email address: gsoc.codingforgood.appdev@gmail.com.
</p>
<p>
<span class='bold'>This SATURDAY&#8217;s (Jun 20th 4p-5p) ZOOM Meeting is:
</p>
<p>
Join Zoom Meeting<br/>
<a href="https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09">https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09</a><br/>
<br/>
Meeting ID: 841 6990 2378<br/>
Password: 4MHVNW<br/>
<br/>
One tap mobile<br/>
+16699009128,,83763203687#,,1#,124530# US (San Jose)<br/>
+13462487799,,83763203687#,,1#,124530# US (Houston)<br/>
<br/>
Dial by your location<br/>
        +1 669 900 9128 US (San Jose)<br/>
        +1 346 248 7799 US (Houston)<br/>
        +1 253 215 8782 US (Tacoma)<br/>
        +1 312 626 6799 US (Chicago)<br/>
        +1 646 558 8656 US (New York)<br/>
        +1 301 715 8592 US (Germantown)<br/>
Meeting ID: 841 6990 2378<br/>
Password: 4MHVNW<br/>
<br/>
Find your local number: https://us02web.zoom.us/u/kBUaIoh8x
</p>
<p>
    Let&#8217;s get working on our apps!
</p>

Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>