<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding for Good App - Part 1 ZOOM Meeting REMINDER</title>
    <style>
        .bold {
            font-weight: bold;
        }
        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1>GSOC Coding for Good - App Development </h1>
Hi {CONTACT}:

<p>
    Thank you again for participating in the Coding for Good - App Development virtual badge earning event!
</p>
<p>
    I hope you enjoyed the Part 1 video, and that you have created your very first &quot;Hello World&quot; single screen phone app!  Woo Hoo!
</p>
<p>
    Just a few REMINDERS:
</p>
<ul>
    <li>As presented at the end of the Part 1 video, DON&#8217;T FORGET TO SHARE YOUR WORK FOR CHECKING using the GOOGLE FORM we have provided for this purpose.&nbsp; A big thank you to the girls that have already submitted their project links!<br/><br/>
        We&#8217;d like you to submit your work <span style="font-weight: bold;">BEFORE THE END OF DAY FRIDAY</span> so our STEM Patrol Volunteers have time to check it in advance of Sunday&#8217;s Zoom meeting.<br/>
        <br/>The Google Form link is here: <a href="https://forms.gle/rtjPDGDCpbR2jtct5">https://forms.gle/rtjPDGDCpbR2jtct5</a>
    </li>
    <br/>
    <li>About that Sunday May 31st Zoom meeting from 4p - 5p.   Please attend if you had questions regarding Part 1, if you&#8217;d like to learn a few extra Thunkable tricks, or if you&#8217;d just like to chat about your app!<br/>
    <br/>This Sunday&#8217;s (May 31st 4p-5p) ZOOM Meeting is:<br/>
<br/>Join Zoom Meeting<br/>
<a href="https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09">https://us02web.zoom.us/j/83763203687?pwd=bGpVK09GMktwaGh5K1g4bHRQNXhJQT09</a><br/>
<br/>
Meeting ID: 837 6320 3687<br/>
Password: 0WVqft<br/>
<br/>
One tap mobile<br/>
+16699009128,,83763203687#,,1#,124530# US (San Jose)<br/>
+13462487799,,83763203687#,,1#,124530# US (Houston)<br/>
<br/>
Dial by your location<br/>
        +1 669 900 9128 US (San Jose)<br/>
        +1 346 248 7799 US (Houston)<br/>
        +1 253 215 8782 US (Tacoma)<br/>
        +1 312 626 6799 US (Chicago)<br/>
        +1 646 558 8656 US (New York)<br/>
        +1 301 715 8592 US (Germantown)<br/>
Meeting ID: 837 6320 3687<br/>
Password: 124530<br/>
    </li>
<p>
    Thanks again, and I hope to see you on Sunday!
</p>
<br/>
Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>