<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coding for Good App Dev - More THUNKABLE</title>
</head>
<style>
    .bold {
        font-weight: bold;
    }
    .underline {
        text-decoration: underline;
    }
</style>
<body>
<h1>GSOC Coding for Good - Here is another THUNKABLE opportunity for you!</h1>
Hi {{CONTACT}}:

<p>
    Thanks again {{CONTACT}} for participating within our recent Coding for Good App Development Challenge!
</p>
<p>
  On Monday June 22nd, Thunkable announced a <a href="https://blog.thunkable.com/summer-2020-app-building-challenge-66476edf28ad">&quot;Summer App Building Competition&quot;</a> open to everyone.&nbsp; The challenge is to design and build and app that will help small businesses or teams during the COVID-19 pandemic.&nbsp; Think of the special problems your hair stylist, coffee or ice cream shop, bike store, favorite restaurants, math tutors, dance, exercise or self defense studios (or any other small business you may know of) are facing during this pandemic and come up with an app idea that could assist them, even if it is just in some small way!
<p>
<p>
    Apps must be completed and submitted (submission amounts to sharing a link just like we did during our event) on or before August 31, 2020.&nbsp;  If you're interested in entering this summer&#8217;s challenge, here is the very short list of contest rules:
</p>
<p>

  <a href="https://blog.thunkable.com/summer-2020-app-building-challenge-66476edf28ad">Thunkable Summer 2020 App Building Challenge</a>

</p>
<p>
  Even if you are not interested or available for this challenge, please do take a look at the link above as there is an example project you can look over (and view as a video) that may be of interest to you.
</p>
<p>
    If you are interested in the challenge, the GSOC STEM Patrol would be happy to assist you!&nbsp; If you have a cool idea for a small business assistance app that you would like to enter into this summer&#8217;s competition, please reply to this email so we can help you!
</p>
<p>
<h3> * REMINDER * YOUR FEEDBACK IS IMPORTANT TO US!</h3>
<p>
    If you haven&#8217;t as of yet completed the Coding for Good App Dev <span class='bold'><a href="https://forms.gle/wcQTwqCnNcLpR9MT6">POST EVENT SURVEY</a></span> kindly click on the link below as soon as possible!&nbsp; We would like to hold the Coding for Good App Dev badge earning event again later this year, and we are looking for ways in which we can improve.&nbsp; If you&#8217;d rather not fill out the survey, please feel free to reply to this email with your comments and suggestions.&nbsp; Either way, thank you so much for your feedback, it really helps us!
</p>
<h3><a href="https://forms.gle/wcQTwqCnNcLpR9MT6">You feedback is important, kindly complete our Post-Event Survey!</a></h3>

Brad Hontz<br/>
Volunteer STEM Patrol<br/>
Girl Scouts of Orange County<br/>
</body>
</html>
